@import '../node_modules/normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Oswald&family=Roboto:wght@100;300&display=swap');

:root {
    --main-blue: #1f4e6c;
    --secondary-blue: #255f83;
  }

body {
    font-family: "Jockey One", sans-serif;
    position: absolute;
}
h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    font-weight: 400;
}
h1 {
    font-size: 3rem;
    font-size: 5vw;
}
h2 {
    font-size: 2rem;
    font-size: 3vw;
}
h3 {
    font-size: 1rem;
    font-size: 2vw;
}

a:link{
    text-decoration: none;
    color: var(--main-blue);
}
a:visited {
    color: var(--main-blue);
}
a:hover {
    color: var(--secondary-blue)
}
a:active {

}

.container {
    display: flex;
    justify-content: center;
}
.column {
    flex-direction: column;
}
.space-around {
    justify-content: space-around;
}
.hidden {
    display: none;
}
footer {
    font-family: Helvetica;
    font-size: 1rem;
    padding: 1rem;
}
.icon {
    fill: var(--main-blue);
}
.social-icons {
    height: 1rem;
    height: 2.5vh;
    margin: 1rem;

}
@media screen and (max-width: 1025px) {
    h1 {
        font-size: 2.5rem;
        font-size: 7vw;
    }
    h2 {
        font-size: 2rem;
        font-size: 6vw;
    }
    h3 {
        font-size: 1rem;
        font-size: 5vw;
    }
}
@media screen and (max-width: 769px) {
    h1 {

    }
    h2 {

    }
    h3 {

    }
}
@media screen and (max-width: 481px) {
    h1 {
        font-size: 2rem;
        font-size: 10vw;

    }
    h2 {
        font-size: 1.5rem;
        font-size: 9vw;

    }
    h3 {
        font-size: 1rem;
        font-size: 6vw;
    }
    p {
        font-size: 2.75vh;
    }
}
@media screen and (max-width: 290px) {
    h1 {
        font-size: 2rem;
        font-size: 9vw;

    }
    h2 {
        font-size: 1.5rem;
        font-size: 7vw;

    }
    h3 {
        font-size: 1rem;
        font-size: 5.5vw;

    }
}
@media (orientation: landscape) {
    footer {
        padding: 1rem;
    }
    .social-icons {
        margin: 1rem;
        height: 1.75vw;
    }
    p {
        font-size: 1rem;
        font-size: 2vw;
    }
} 


